.env
.txt
.cache
Output.txt
Output2.txt
Output3.txt
Output4.txt
backend/flask_server/__pycache__/server.cpython-310.pyc
backend/methods/__pycache__/login.cpython-310.pyc
backend/methods/__pycache__/__init__.cpython-310.pyc
backend/methods/__pycache__/artist_methods.cpython-310.pyc
backend/methods/__pycache__/track_methods.cpython-310.pyc
backend/__pycache__/search.cpython-310.pyc
