/* styles/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 196, 62);
    padding:0 ;
  }
  
  .navbarButton{
    margin: 10px;
  }